<div class="container paddingTop">
  <h2>Angular Learnings Practice Project</h2>
  <h5>July 29, 2021</h5>
  <hr>
</div>
<div class="container">
  <p>Objectives:</p>
  <ol>
    <li><strong>Create New Page - Team List</strong></li>
      <ol>
        <li>Display list of the teams using this api endpoint - https://api.first.org/data/v1/teams</li>
        <li>Display id & team fields to the list only</li>
        <li>Make the list clickable —> and redirect to the
          team component (displaying all information of the specific team)
          — use router link with parameter => id</li>
        <li>Implement Interface</li>
        <li>Likes Count (1)</li>
      </ol>
    <li><strong>Create New Team Component - display all information of the specific team</strong></li>
      <ol>
        <li>Likes functionality —> for each team - result should be reflected to navigation.</li>
      </ol>
    <li><strong>Add Team List to navigation bar and implement
                routing to Team List Component</strong></li>
  </ol>
</div>
