<div class="center">
<p><b>Child Component</b></p>
<h4>Feed:</h4>
<table class="center">
  <thead>
    <tr>
      <td>Message</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feedValue of feedList">
      <td>{{ feedValue.cfeedValue }}</td>
      <!-- <td>{{ feedValue.feedID }}</td> -->
      <td><button id="feedValue.feedID" (click)="addLikeEvent(feedValue.feedID)">Like</button></td>
      <!-- July 23: Plan to turn like to dislike when clicked see TS File
      Also, need to add styling
      July 27 Update: Use case does not need to change the like button to dislike
      so this one is complete! Added some styling as well.
      -->
    </tr>
  </tbody>
</table>
</div>
