table, th, td {
  border: 1px solid black; /* Border completion is delayed on browser?? */
  border-collapse: collapse;
}

th, td {
  padding: 10px 130px 10px 130px; /* Top Right Down Left */
  word-wrap: break-word;
}

.center {
  margin: auto;
}
