.wrapper {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }

.wrapper > div{
    background-color: #f1f1f1;
    margin:10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-marjun{
    width: 300px;
    height:100px;
}
