.wrapper {
    display: flex;
    flex-wrap: nowrap;
    background-color:black;
  }

.wrapper > div{
    background-color: #f1f1f1;
    margin:10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-Kyle{
    width: 300px;
    height:100px;
    font-family: cursive;
    background-color:blue;
}

#user-Kyle2{
    width: 200px;
    height:100px;
    font-family: cursive;
    background-color:blueviolet;
}
