.wrapper {
    display: flex;
    flex-wrap: nowrap;
    background-color:black;
  }

.wrapper > div{
    background-color: #f1f1f1;
    margin:10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-Kyle{
    width: 300px;
    height:100px;
    font-family: cursive;
    background-color:blue;
}

#user-Kyle2{
    width: 200px;
    height:100px;
    font-family: cursive;
    background-color:blueviolet;
}
<<<<<<< HEAD

#renzo{
    width: 200px;
    height:100px;
    background-color:rgb(211, 245, 19);
}

<<<<<<< HEAD





















#user-dyme{
    width: 300px;
    height:100px;
    background-color: black;
    color:white;
}
=======
#euzell{
    width: 300px;
    height: 150 px;
    background-color: rgb(74, 74, 231);
}
    
>>>>>>> 69d4492adebf208a3817a49a9bdac7a7cbd7e224
=======
>>>>>>> 8e7ef6085656efb57fbe6336125ef943c18e29fa
