<div class="border">
<p>header component</p>
<h3 *ngIf="!isValidUser">{{loggedOutMessage}}</h3>
<div class="float-right">
    <input type="text" name="username" #username> <!--- #username : one way data binding-->
    <input type="password" name="password" #password> <!--- #password : one way data binding-->
    <button (click)="loggIn(username.value, password.value)">Login</button>
</div>
<app-test (isUserLoggedOut)="onLogOut($event)" [isUserLoggedIn]="isValidUser" ></app-test> <!-- app test : child component -->
</div>
