body {
    background-color: rgb(140, 212, 240);
    
}

.main {
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border: solid 3px;
    border-color: darkgray;
    border-radius: 5px;
    height: fit-content;
    width: 500px;
}
h2{
    text-align: center;
}