header{
  background-color: red;
  display: grid;
  place-items: center;
  padding-bottom: 20px;

}

label{
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
}

button{
  height: 30px;
  width: 100px;
}
