body{

    
    background: linear-gradient(to right, #564f79, #1565c0);
    height: 100vh;
  

   
}
.gif{
    height: 100%;
    background-image: url('giphy.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}