.search input {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid transparent;
  font-size: 13px;
  border-radius: 10px 0 0 10px;
  padding: 5px 0 5px 10px;
  color: #ffffff;
  width: 300px;
}

.search input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dadada;
  opacity: 1; /* Firefox */
}

.search input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dadada;
}

.search input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dadada;
}

.search button {
  border: 1px solid transparent;
  font-size: 13px;
  border-radius: 0 10px 10px 0;
  padding: 5px 10px 5px 8px;
  color: #444444;
}
