<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">userId</th>
      <th scope="col">Ltitle</th>
      <th scope="col">body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let key of post'>
      <th scope="row"  (click)='viewPost(key.id)' [routerLink]='Post+key.id' >{{key.id}}</th>
      <td (click)='viewPost(key.id)'>{{key.userId}}</td>
      <td (click)='viewPost(key.id)'>{{key.title}}</td>
      <td (click)='viewPost(key.id)'>{{key.body}}</td>
    </tr>
  </tbody>
</table>
