<p>teams works!</p>

<hr>
<div class="container">

  <div class="media">
    <img class="align-self-center mr-3" src="https://picsum.photos/200" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">ID: {{teams.id}} - {{teams.team}}</h5>
      <p>{{teams.host}}</p>
      <!--<p>{{team.team-full}}</p>
      <p>{{teams.establishment}}</p>
      <p>{{teams.address}}</p>
      <p>{{teams.country}}</p>-->
      <!--<p>{{team.website}}</p>
      <p>{{team.email}}</p>
      <p>{{team.phone}}</p>
      <p>{{team.fax}}</p>
      <p>{{team.phone-emergency}}</p>
      <p>{{team.timezone}}</p>
      <p>{{team.timezone-dst}}</p>
      <p>{{team.operating-hours}}</p>
      <p>{{team.constituency}}</p>
      <p>{{team.constituency-description}}</p>
      <p>{{team.member-since}}</p>
      <p>{{team.last-modified}}</p>-->
    </div>
  </div>
  <button class="form-control" (click)="back()">Back</button>

</div>
