<hr/>
<div class="container">
  <div class="media">
    <img class="mr-3" src="https://picsum.photos/200/300" alt="Free unsplash image">
    <div class="media-body">

      <!-- <h5 *ngFor="let data of resultItem">
        {{ data[2] }}
      </h5> -->

      <!-- <h5 class="mt-0">{{ resultItem.id }}</h5> -->
      <!-- <ul>Team-Full: {{ resultItem.team-full }}</ul> -->
      <ul>Establishment: {{ resultItem.establishment }}</ul>
      <ul>Host: {{ resultItem.host }}</ul>
      <ul>Address: {{ resultItem.address }}</ul>
      <ul>Website: {{ resultItem.website }}</ul>
      <ul>Phone: {{ resultItem.phone }}</ul>
    </div>
  </div>

</div>


<!-- <button class="form-control" (click)="back()">Back</button> -->
<!-- <hr/>
<div class="container">
      <p scope="col">Teams: {{resultItem.id}}</p>
      <p scope="col">Team-Full: {{resultItem.team}}</p>
      <p scope="col">Host: {{resultItem.teamfull}}</p>
      <p scope="col">Establishment: {{resultItem.establishment}}</p>
</div> -->






