<!-- <li *ngFor="let teamData of teamListen">
  <ul>{{ teamData.id }} || {{ teamData.team }}</ul>
</li> -->

<table class="center">
  <thead>
    <tr>
      <td><strong>Full Team Name</strong></td>
      <td><strong>Contact Us (EMAIL)</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teamData of teamListen">
      <td>{{ teamData['team-full'] }}</td>
      <!--Cannot directly use the "dot notation" if name have "-" in it
          (teamData.team-full) will have error
          need to use this method.
          Source:
          https://stackoverflow.com/questions/5516106/are-dashes-allowed-
          in-javascript-property-names/5516115
      -->
      <td>{{ teamData.email }}</td>
    </tr>
  </tbody>
</table>
