.main{
    width: 600px;
    background-color:skyblue;
}
body{
    background-image: url('bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
button.clear{
    margin: 10px;
}

button.register{
    margin: 10px;
}


