input.error {
    border-color: red;
}

.main{
    max-width: 600px;
}

.sub-container{
    margin-top: 1mm;
    margin-bottom: 1mm;
}

body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    background-color: rgb(4, 41, 252);
    padding: 5mm;
    border-style: solid;
    border-color: aliceblue;

}

#Header{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    font-size: 50px;
}
