html,body{
    height:100%;
}
body{
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    padding: 50px;
    background-color: rgba(98, 31, 35,0.5);
    margin-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}
.inputS {
    position: relative;
    top: 0;
    left: 0;
}
label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
    font-family: 'Teko', sans-serif;
}
input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color:#d23d21;
    border-bottom: 2px solid #d3d3d3;
    color: #111;
}
input:focus,input:valid{
    border-color: #2900dd;
    font-family: 'Teko', sans-serif;
}
input:focus~label,
input:valid~label{
    font-size: 14px;
    top: -20px;
    color: #eae8db;
}
.firstNamee{
    position: relative;
    margin-bottom: 20px;
}
.lastNamee{
    position: relative;
    margin-bottom: 20px;
}
.button-group{
    width: 100%;
}
.btn-success{
    background-color: #d23d21;
}
.btn-success:hover{
    background-color: #621f23;
}