<div>
<div class='border'>
  <div class='head' style="overflow: hidden;">
    <p style="float: left; font-size: xx-large;">What's on your mind?</p>
    <p style="float: right; font-size: xx-large;">Likes: {{collectedLikes}}</p>
    <input class="status"type="text"  [(ngModel)]="inputStatus" id="inputStatus" #status><br>
    <button class="postbtn" id='postbutton' [disabled]="!inputStatus" (click)='feedAdd(status.value)' >Post</button>

  </div>
</div>
     <app-news-feed [childList]='feederList' (sum)='childevent($event)' ></app-news-feed>
</div>

<!-- to share the data of our parent or the header (feederList) to our child or the news-feed (child list) we
use the input decorator, the value that the child component expects is 'childlist' binded to the value of parent component 'feederlist' (square bracket from property binding).

to send the total accumulated likes on our child component we use the event emitter.
when the sum event is received by the parent we will call the childevent method that has the data
of sum event which is the total likes from our child status. -->
