<div>
<div class='border'>
  <div class='head' style="overflow: hidden;">
    <p style="float: left; font-size: xx-large;">What's on your mind?</p>
    <p style="float: right; font-size: xx-large;">Likes: {{collectedLikes}}</p>
    <input class="status"type="text"  [(ngModel)]="inputStatus" id="inputStatus" #status><br>
    <button class="postbtn" id='postbutton' [disabled]="!inputStatus" (click)='feedAdd(status.value)' >Post</button>

  </div>
</div>
     <app-news-feed [childList]='feederList' (sum)='childevent($event)' ></app-news-feed>
</div>
