table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  border-radius: 1px;
  background-color: #AFC1C1;
}

tr, td {
  font-size:xx-large;
  text-align:left;
  border: 1px solid black;
  border-radius: 1px;
  background-color: #DFF3F3;
}


.like{
  float: right;
  background-color: white;

}

h1{
  text-align:center;
}




