<div class="daily-forecast">
    <h2>Forecast</h2>
    <ul>
      <li>
        <div class="daily-item">
          <h3>Today</h3>
          <span class="icon">
            <img src="../assets/img/weather-icons/013-storm-2.svg" />
            <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />39%</i>
          </span>
          <span class="temp-high">29&deg;</span>
          <span class="temp-low">26&deg;</span>
        </div>
      </li>
      <li>
        <div class="daily-item">
          <h3>Thu 30</h3>
          <span class="icon">
            <img src="../assets/img/weather-icons/013-storm-2.svg" />
            <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />39%</i>
          </span>
          <span class="temp-high">29&deg;</span>
          <span class="temp-low">26&deg;</span>
        </div>
      </li>
      <li>
        <div class="daily-item">
          <h3>Fri 30</h3>
          <span class="icon">
            <img src="../assets/img/weather-icons/013-storm-2.svg" />
            <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />39%</i>
          </span>
          <span class="temp-high">29&deg;</span>
          <span class="temp-low">26&deg;</span>
        </div>
      </li>
      <li>
        <div class="daily-item">
          <h3>Sat 31</h3>
          <span class="icon">
            <img src="../assets/img/weather-icons/013-storm-2.svg" />
            <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />39%</i>
          </span>
          <span class="temp-high">29&deg;</span>
          <span class="temp-low">26&deg;</span>
        </div>
      </li>
      <li>
        <div class="daily-item">
          <h3>Sun 1</h3>
          <span class="icon">
            <img src="../assets/img/weather-icons/013-storm-2.svg" />
            <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />39%</i>
          </span>
          <span class="temp-high">29&deg;</span>
          <span class="temp-low">26&deg;</span>
        </div>
      </li>
      <li>
        <div class="daily-item">
          <h3>Mon 2</h3>
          <span class="icon">
            <img src="../assets/img/weather-icons/013-storm-2.svg" />
            <i><img src="../assets/img/water_drop_white_8x8.svg" class="droplet" />39%</i>
          </span>
          <span class="temp-high">29&deg;</span>
          <span class="temp-low">26&deg;</span>
        </div>
      </li>
    </ul>
  </div>
