<hr/>
<div class="container">
    <div class="media">
      <div class="media-body">
        <p>ID: <span style="color:black;">{{result.id}}</span></p>
        <p>Team: <span style="color:black;">{{result.team}}</span></p>
        <p>Host: <span style="color:black;">{{result.host}}</span></p>
        <p>Establishment: <span style="color:black;">{{result.establishment}}</span></p>
        <p>Address: <span style="color:black;">{{result.address}}</span> </p>  <button class="btn btn-outline-primary" id="likebutton"  (click)='liked()'>Like</button>
      </div>
    </div>
    <button class="btn btn-dark" (click)="back()">Back</button>
</div>


