
body{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    border: 3px solid #eee0e0;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(190, 186, 186);
    box-sizing: border-box;
}

button{
    background-color: #10b12b;
    color: white;
    padding: 14px, 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 1;
}

.cancelButton{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imageContainer{
    margin: 24px 0 12px 0;
    text-align: center;
}

image.loginAvatar{
    width: 40%;
    border-radius: 50%;
}

.container{
    padding: 16px;
}

span.password{
    float: right;
    padding-top: 16px;
}



/* para sa span and style sa maliliit ang screen */
@media screen and (max-width: 300px){
    span.password{
        display: block;
        float: none;
    }
    .cancelButton{
        width: 100px;
    }
}