.main{
    width: 400px;
    
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

form{
    border: 2px solid #db0bae;
}

h2{
    text-align: center;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 5px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid rgb(190, 186, 186);
    box-sizing: border-box;
}

button{
    background-color: #10b12b;
    color: white;
    padding: 5px, 10px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 1;
}

.cancelButton{
    width: auto;
    padding: 5px 10px;
    background-color: #f44336;
}

.imageContainer{
    text-align: center;
}

image.loginAvatar{
    width: 20%;
    border-radius: 30%;
}

.container{
    padding: 5px;
}

span.password{
    float: right;
    padding-top: 5px;
}

/* para sa span and style sa maliliit ang screen */
@media screen and (max-width: 300px){
    span.password{
        display: block;
        float: none;
    }
    .cancelButton{
        width: 100px;
    }
}