.main{
    width: 600px;
}

.input-group{
    margin-top: 1mm;
    margin-bottom: 1mm;
}

body{
    background-image: url('HTMLback.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#myForm{
    background-color: black;
    padding: 5mm;
    border-style: solid;
    border-color: aliceblue;

}

#Header{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    font-size: 50px;
}
h1{
    color: black;
}