.parental{
    background-color: black;
    color: orange;
    height: 600px;
    width: 500px;
    padding: 10px;
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
label{
    margin-left: 20px;
}
.feeddiv{
    margin-left: 20px;

}
.parent{
    width: 50px;
}
.like{
    float: right;
}
.feedtxt{
    margin-top: 15px;
    width: 451px;
    height: 70px;
    margin-right: 40px;
}
.buttondiv{
    float: right;
    margin-left: 20px;
}
.textarea{
    resize: none;
}
.submitbtn{
    clear: both;
    float: right;
    margin-top: 20px;
    margin-right: 22px;
}