@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display-swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #38ADCE;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.loginbox{
    width: 320px;
    height: 450px;
    background-color: whitesmoke;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 8px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid powderblue;
    background: transparent;
    outline: none;
    height: 40px;
    color: skyblue;
    font-size: 16px;
}

.loginbox input[type="reset"], input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: cadetblue;
    color: #FFF;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="reset"]:hover, input[type="submit"]:hover{
    cursor: pointer;
    background: hotpink;
    color: lightcyan;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #34F12A;
}

.loginbox a:hover{
    color: yellowgreen;
}