* {
    font-family: monospace;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./image/1.jpg');
    background-repeat: no-repeat;
    background-size: 1300px;
}

.container-main {
    border:0.5rem outset blueviolet;
    background-color: lightblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, blueviolet 0%, purple 100%);
}

.container {
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    padding: 50px; 
    margin-left: 400px;
}

h2 {
    display: flex;
    justify-content: center;
    color: rgb(153, 122, 194);
    padding: px;
}

.login-form {
    display: flex;
    justify-content: center;
    margin: 10px 50px;
}

.form-group:focus {
    outline-style: groove;
    outline-color: rgb(115, 211, 255);
    outline-width: 1.5px;
}

input, label {
    display: block;
    font-size: 14px;
    margin: 10px 10px 10px 10px;
}

input{
    width: 100%;
    border: solid 2px rgb(186, 188, 211);
    padding: 10px 15px;
}

input:hover{
    border: solid 2px rgba(64, 137, 206, 0.911);

}

button {
    font-size: 14px;
    margin: 10px 10px 10px 10px;
    width: 50%;
    padding: 15px;
    background-color: #fff;
    color: blueviolet;
    border: solid 2px lavender;
    cursor: pointer;
    transition: all .38s ease-in-out;
}

button:hover {
    background-color: blueviolet;
    color: #fff;
}

.footer {
    color: #fff;
    background-color: rgb(122, 153, 194);
    width: 100%;
    text-align: center;
    font-size: 12px;
}