<hr/>
<div class="container">
  <div class="media">
    <p>Teams</p>
    <div class="media-body">
      <h1>{{ post.id }}</h1>
      <div>
        <p>ID: {{ post.id }}</p>
        <p>teams: {{ post.team }}</p>
        <p>Establishment: {{ post.establishment }}</p>
        <p>address: {{ post.address }}</p>
        <p>Website: {{ post.website }}</p>
        <p>Phone: {{ post.phone}} </p>
      </div>
    </div>
  </div>
  <button class="form-control" (click)="postLike(0)">Like</button>
    <button class="form-control" (click)="back()">Back</button>
</div>
