<hr>
<div class="container">
  <button class="form-control" (click)="back()">Back</button>
  <div class="media">
    <img src="https://picsum.photos/200/300" alt="free unsplash image" class="align-self-center- mr-3">
    <br>
        <!-- <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">team</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teamlist of obj" routerLink="{{ teamlist.id}}">
                <td>{{ teamlist.id }}</td>
                <td>{{ teamlist.team}}</td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
  </div>

