.main {
    background-color: rgb(190, 190, 190);
    border: solid;
    border-radius: 5px;
    padding: 10px;
    height: 600px;
    width: 500px;
    margin: 5px;
    position: center;
}
h2 {
    text-align: center;
}