
<div class="center" *ngIf="showModal == true">
  <div>
    <div>
      <label>Are you sure you want to post this?</label>
    </div>
    <div>
      <label style="color: red;" id="lbl" #lbl>{{ txtArea }}</label>
    </div>
  </div>
  <div>
    <button *ngIf="showModal" (click)="addTxt()">Post</button>
  </div>
</div>

<div class="center">
  <table class="container" *ngFor="let user of strInput">
   <div class="br">
     <tr class="row">{{ user.status }} <hr style="width: 697px;"> <button class="row" (click)="likeCount()">Like</button></tr>
   </div>
  </table>
</div>

<div class="modal" *ngIf="false">
<h1>sample modal</h1>
</div>
