<div class="wrapper">
  <div class="main-content">
    <div class="search">
      <input type="text" placeholder="Search for location" #search>
      <button (click)="userSearch(search.value, search)">Go</button>
    </div>

    <div class="location">
      <!-- <h2>Las Pinas, Philippines</h2> -->
      <h2>{{ apiLocationName }}</h2>
    </div>

    <app-current-weather [apiWeatherData]=apiWeatherData></app-current-weather>

    <app-daily-forecast [apiWeatherData]=apiWeatherData></app-daily-forecast>

    <app-weather-details [apiWeatherData]=apiWeatherData></app-weather-details>

    <!-- <div class="instructions">
      <h2>Instructions</h2>
      <p>Create an Angular application that will interact with the Geocoding and Weather service to populate the data needed for
        the current weather and forecast. All the data that you will need can be retrieve in the API services describe in the Functional Requirement below.</p>
      <p>You will need to get API Keys for the ff. services, sign up for a <b>FREE</b> account:</p>
      <p>- Open Weather Map <a href="https://openweathermap.org/">https://openweathermap.org/</a></p>
      <p>- Map Box <a href="https://www.mapbox.com/">https://www.mapbox.com/</a></p>
      <br/>
      <p>Functional Requirement:</p>
      <ol>
        <li>
          <p>On page load, your browser must be able to determine your location, use Geolocation.getCurrentPosition().
            Using the latitude and the longitude, query the Geocoding API to get the place name to displayin the <code>.location h2</code></p>
        </li>
        <li>
          <p>User must be able to change the location using the Search location text input. Using the input provided by the user,
            query the Map Box's Geocoding API to get the place name to display in the <code>.location h2</code></p>
        </li>
        <li>
          <p>Using the latitude and the longitude, query the Open Weather Map's One Call API to fetch for the current weather and forecast of that location.</p>
        </li>
      </ol>
      <div style="clear: both"></div>

      <p>Geocoding API</p>
      <code>GET https://api.mapbox.com/geocoding/v5/mapbox.places/[location-to-search|long,lat].json?access_token=(mapbox-api-key)&limit=1</code>
      <p>Sample Response:</p>
      <pre>{{ mbData | json }}</pre>


      <p>One Call API</p>
      <code>GET https://api.openweathermap.org/data/2.5/onecall?lat=(latitude)&lon=(longitude)&exclude=minutely,hourly&appid=(openweathermap-api-key)</code>
      <p>Sample Response:</p>
      <pre>{{ owmData | json }}</pre>

      <p>Refer to the documentation for more details</p>
      <p>https://docs.mapbox.com/api/search/geocoding/</p>
      <p>https://openweathermap.org/api/one-call-api</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h2>Attributions:</h2>
      <p>Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      <p>Inteface inspired by <a href="#">MSN Weather</a>. Background images, icons, and svg are from <a href="#">MSN Weather</a></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div> -->
  </div>
  <div style="clear: both"></div>
</div>


<footer>
  <span>Weather App - for educational purposes only</span>
</footer>
