.prnt {
  margin-left: 10px;
}
.parent {
  border: 1px solid greenyellow;
  width: 32%;
}

.btn {
  margin-left: 85%;
}

.txtarea {
  margin: auto;
  margin-left: 10px;
}

.like {
  margin-top: 20px;
  margin-left: 80%;
  font-size: 20px;
  font-weight: bold;
}
